#contenedor {
    width: 100%;
    margin: 0;
    padding: 5px;
}

body, html {
    background-color: #faf3f3;
}

header {
    width: 100%;
    height: 5em;
    background-color: #d8bf4e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    text-align: center;
    color: #cc0700;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    color: blue;
}

.cuadros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.cuadro {
    width: 45%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.cuadro img {
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    height: 3em;
    background-color: #c9cc04;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #82E0AA;
}

@media (max-width: 768px) {
    .cuadro {
        width: 90%;
    }
}
